:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white-para: hsla(0, 0%, 100%, 0.75);
    --very-light-gray-bg-btn-h: hsl(0, 0%, 95%);

    --body-font-size: 15px;
}



.lexend-deca-400 {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.big-shoulders-display-700 {
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

html, body {
    height: 100%;
    
}

body {
    display: grid;
    place-content: safe center;
   
    height: 100%;
    background-color: var(--very-light-gray-bg-btn-h);
   
}

button {
    background-color: var(--very-light-gray-bg-btn-h);
    
    text-align: center;
    padding-block: 0.8rem;
    padding-inline: 2rem;
    border-radius: 30px;
    font-size: 0.9375rem;
}

.sedan-btn {
    color: var(--bright-orange);
}

.suv-btn {
    color: var(--dark-cyan);
}
 .luxury-btn {
    color: var(--very-dark-cyan);
}

.card {
    
    
    height: 100%;
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin-block-start: clamp(1.375rem, 4.4173rem + -3.3803vw, 3.625rem);
    
}

.card-icon {
    margin-block-end: 1.9rem;
}

.card-para {
    color: var(--transparent-white-para);
    text-align: left;


    line-height: 1.62;
    margin-block-end: clamp(1.5rem, 0.2676rem + 5.2582vw, 5rem);
    font-size: 0.949rem;
 
}
.card-title {
    color: var(--very-light-gray-bg-btn-h);

    font-size: 2.5rem;
    margin-block-end: clamp(1.27rem, 1.3917rem + -0.1352vw, 1.36rem);
 
}

.section {

  
    inline-size: clamp(19.2rem, 20.9577rem + -1.9531vw, 20.5rem);
    min-block-size: clamp(27.65rem, 26.3648rem + 5.4836vw, 31.3rem);
   

    padding-inline-start: 3rem;
    padding-inline-end: 3rem;
    padding-block-start: 3rem;
  
    
}

.card .section:first-child {
    background-color: var(--bright-orange);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card .section:nth-child(2) {
    background-color: var(--dark-cyan);
}

.card .section:last-child {
    background-color: var(--very-dark-cyan);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media(min-width: 41.9375rem) {
    .card .section:first-child {
            border-top-left-radius: 8px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 8px;
        }
    
        .card .section:nth-child(2) {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
}

@media(min-width: 62.5rem) {
    .card .section:nth-child(2) {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
    }
    .card .section:last-child {
       
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
    }
}