:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white-para: hsla(0, 0%, 100%, 0.75);
    --very-light-gray-bg-btn-h: hsl(0, 0%, 95%);

    --body-font-size: 15px;
}



.lexend-deca-400 {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.big-shoulders-display-700 {
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    min-height: 100%;
    /* justify-items: center; */
    /* justify-content: center;
    align-content: center; */
    /* align-items: center; */
  justify-content: center;
  align-items: center;
  align-content: center;
  /* justify-items: center; */
  /* padding-block: 5.5rem; */
  /* align-content: center; */
}

.card {
   /* display: grid; */
   display: flex;
   flex-direction: row;
   /* flex-wrap: wrap; */
   justify-content: center;
   /* align-content: center; */
   /* justify-content: center;
   justify-items: center;
   align-items: center;
   ali */
   /* align-content: center; */
   /* min-width: 0; */
   /* Desktop */
  /* inline-size: 57.5rem; */
  /* block-size: 31.3rem; */

  /* Mobile */
    /* inline-size: 20.5rem;
    block-size: 82.5rem; */
    inline-size: clamp(20.5rem, 7.4718rem + 55.5869vw, 57.5rem);
    max-block-size: clamp(31.3rem, 100.5282rem + -76.9202vw, 82.5rem);
    /* inline-size: clamp(20.5rem, 8.1338rem + 82.6291vw, 82.5rem);  */
    /* block-size: clamp(27.5rem, 101.8662rem + -82.6291vw, 82.5rem);
    /* grid-template-rows: [content-start] clamp(27.5rem, 8.1338rem + 82.6291vw, 82.5rem) [content-end]; */
    /* grid-template-columns: [content-start] 20rem [content-end]; */
    /* inline-size: 20.5rem;
    block-size: 82.5rem; */
    
}

.section {
    /* flex: 1; */


    /* Desktop*/
    inline-size: 19.15rem;
    /* block-size: 61.5rem; */
    block-size: clamp(27.5rem, 15.5282rem + 51.0798vw, 61.5rem);
   
}

@media (min-width: 760px) {
    
}
