:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white-para: hsla(0, 0%, 100%, 0.75);
    --very-light-gray-bg-btn-h: hsl(0, 0%, 95%);

    --body-font-size: 15px;
}



.lexend-deca-400 {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.big-shoulders-display-700 {
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-content: center;
    margin-block-start: 1.3125rem;
  
}

.card {

    display: flex;

}

.section {
    /* flex: 1; */


    /* Desktop*/
    inline-size: 19.15rem;
    block-size: 31.2rem;
    /* block-size: clamp(27.5rem, 15.5282rem + 51.0798vw, 61.5rem); */
   
}

@media (min-width: 760px) {
    
}
